apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-mxyvselr
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-mxyvselr:6adfdc9794aa7a58e1cdbcace25072d5d6985d49@sha256:e1c4ea7a72b8c461a527d892a9cbc09482b108d08fccc051bc9a5642505d0edf
        name: container-image  
